Read the given Q3b.txt file. Extract the ending time of all the examinations and list them. Do not make any changes to the original source file.

In [31]:
import pandas as pd

In [32]:
# Read the data from the Q3b.txt file, assuming it's tab-separated
df = pd.read_csv('data\Q3b.txt', sep='\t')
df.head()

,Date,Course Code,Course Name,Time,Venue
0,16/10/2022,DSA 501 3.0,Mathematics for Data Science and Artificial In...,9.00 am - 12.00 Noon,SMART Classroom
1,16/10/2022,DSA 502 2.0,Programming for Data Science and Artificial In...,2.00 pm-5.00pm,SMART Classroom
2,23/10/2022,DSA 503 3.0,Artificial Intelligence: Problem Solving,9.00 am - 12.00 Noon,SMART Classroom
3,23/10/2022,DSA 504 2.0,Machine Learning I,2.00 pm-4.00pm,SMART Classroom
4,30/10/2022,DSA 505 3.0,Data Modelling and Management,9.00 am - 12.00 Noon,SMART Classroom

In [33]:
df.shape

(6, 5)

In [34]:
df.head(6)

,Date,Course Code,Course Name,Time,Venue
0,16/10/2022,DSA 501 3.0,Mathematics for Data Science and Artificial In...,9.00 am - 12.00 Noon,SMART Classroom
1,16/10/2022,DSA 502 2.0,Programming for Data Science and Artificial In...,2.00 pm-5.00pm,SMART Classroom
2,23/10/2022,DSA 503 3.0,Artificial Intelligence: Problem Solving,9.00 am - 12.00 Noon,SMART Classroom
3,23/10/2022,DSA 504 2.0,Machine Learning I,2.00 pm-4.00pm,SMART Classroom
4,30/10/2022,DSA 505 3.0,Data Modelling and Management,9.00 am - 12.00 Noon,SMART Classroom
5,30/10/2022,DSA 506 2.0,Artificial Intelligence: Planning,2.00 pm-4.00pm,SMART Classroom

In [35]:
# Extract the ending times
ending_times = []

for time in df['Time']:
    # Split the time range and extract the ending time (assuming the time format is consistent)
    time_parts = time.split('-')
    print(time_parts)
    ending_time = time_parts[-1].strip()
    print(ending_time, "\n" )
    ending_times.append(ending_time)
    
print("\n")
print(ending_times)

['9.00 am ', ' 12.00 Noon']
12.00 Noon

['2.00 pm', '5.00pm']
5.00pm

['9.00 am ', ' 12.00 Noon']
12.00 Noon

['2.00 pm', '4.00pm']
4.00pm

['9.00 am ', ' 12.00 Noon']
12.00 Noon

['2.00 pm', '4.00pm']
4.00pm



['12.00 Noon', '5.00pm', '12.00 Noon', '4.00pm', '12.00 Noon', '4.00pm']

In [36]:
# List the extracted ending times
for exam, ending_time in zip(df['Course Name'], ending_times):
    print(f"{exam}: {ending_time}")

Mathematics for Data Science and Artificial Intelligence: 12.00 Noon
Programming for Data Science and Artificial Intelligence: 5.00pm
Artificial Intelligence: Problem Solving: 12.00 Noon
Machine Learning I: 4.00pm
Data Modelling and Management: 12.00 Noon
Artificial Intelligence: Planning: 4.00pm

------------------>

In [37]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']

result = zip(list1, list2)
# result is an iterator
for item in result:
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')